:root {
    --primary-color: #0065FF;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/Inter-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/Inter-Bold.woff2") format("woff2");
    font-display: swap;
}

html,
body {
    font-family: 'Inter', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

h2 {
    color: #000;
    font-family: Inter;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 220px;
}

@media (max-width: 1439px) {
    .main-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 40px;
    }
}

@media (max-width: 767px) {
    .main-container {
        max-width: 300px;
        margin: 0 auto;
        padding: 0;
    }
}


/* HEADER */

.page-header {
    margin-bottom: 100px;
}

.page-header img {
    height: 45px;
}

.page-header .main-container {
    position: relative;
    padding: 40px 220px;
}

.page-header .main-container::after {
    content: "";
    position: absolute;
    /* top: 0; */
    right: 0;
    top: 0;
    right: 30px;
    border-radius: 50%;
    /* right: -150px; */
    /* background-image: url('img/background-top.svg'); */
    background-color: #0065FF;
    width: 600px;
    height: 600px;
    background-size: 1028px 981px;
    z-index: -1;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-container nav ul {
    display: flex;
}

.header-container nav ul li:not(:last-child) {
    margin-right: 48px;
}

.header-container nav ul li a {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    transition: all .3s ease-in-out;
}

.header-container nav ul li a:hover,
.header-container nav ul li a:focus {
    opacity: 0.6;
}

.header-phone {
    display: block;
    width: 250px;
    padding: 19px 31px;
    color: #fff;
    border-radius: 6px;
    border: 1px solid #FFF;
    font-size: 20px;
    transition: all .3s ease-in-out;
}

.header-phone:hover,
.header-phone:focus {
    color: var(--primary-color);
    border-color: var(--primary-color);
    background-color: #fff;
}

@media (max-width: 1439px) {
    .page-header {
        margin-bottom: 0;
        padding: 30px 0;
    }
    .page-header img {
        height: 30px;
        margin-right: auto;
    }
    .page-header .main-container {
        padding: 0 40px;
    }
    .page-header .main-container::after {
        display: none;
    }
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-container nav ul li:not(:last-child) {
        margin-right: 10px;
    }
    .header-container nav ul li a {
        color: #000;
        font-size: 14px;
        font-weight: bold;
        line-height: 22px;
    }
    .header-phone {
        width: 160px;
        color: #000;
        font-weight: bold;
        display: block;
        /* margin-left: auto; */
        /* text-decoration: underline; */
        text-align: right;
        padding: 2px 12px;
        border: 1px solid #000;
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .page-header {
        padding: 20px 0;
    }
    .page-header img {
        height: 25px;
        margin-right: auto;
    }
    .page-header .main-container {
        padding: 0;
    }
    .page-header .main-container::after {
        display: none;
    }
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-container nav {
        display: none;
    }
    .header-phone {
        width: auto;
        color: #000;
        font-weight: bold;
        display: block;
        margin-left: auto;
        /* text-decoration: underline; */
        text-align: right;
        padding: 2px 12px;
        border: 1px solid #000;
        font-size: 12px;
    }
}


/* SECTIONS */

.page-section .title h2 {
    margin-bottom: 60px;
    color: #000;
    font-family: Inter;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.page-section .title p {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

@media (max-width: 1439px) {
    .page-section .title h2 {
        margin-bottom: 20px;
        font-size: 24px;
    }
    .page-section .title p {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .page-section .title h2 {
        margin-bottom: 20px;
        font-size: 18px;
    }
    .page-section .title p {
        font-size: 12px;
    }
}


/* INTRO */

.intro {
    margin-bottom: 200px;
}

.intro-body {
    display: flex;
}

.intro-body img {
    height: 450px;
}

.intro-body .intro-paragraph .annot {
    color: var(--primary-color);
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 16px;
}

.intro-body .intro-paragraph h1 {
    margin-bottom: 24px;
    color: #000;
    font-size: 64px;
    font-weight: bold;
}

.intro-body .intro-paragraph p {
    color: #000;
    font-size: 24px;
    margin-bottom: 56px;
    /* font-weight: bold; */
}

.intro-body .intro-paragraph a {
    display: inline-flex;
    height: 72px;
    padding: 24px 61px;
    color: #fff;
    font-size: 20px;
    line-height: normal;
    font-weight: bold;
    border-radius: 6px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: all .3s ease-in-out;
}

.intro-body .intro-paragraph a:hover,
.intro-body .intro-paragraph a:focus {
    border-color: var(--primary-color);
    color: var(--primary-color);
    background-color: #fff;
}

@media (max-width: 1439px) {
    .intro {
        margin-top: 30px;
        margin-bottom: 80px;
    }
    .intro-body {
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
    }
    .intro-body .intro-paragraph {
        width: 60%;
    }
    .intro-body img {
        height: 300px;
        margin-left: auto;
        width: 35%;
    }
    .intro-body .intro-paragraph .annot {
        font-size: 18px;
        margin-bottom: 16px;
    }
    .intro-body .intro-paragraph h1 {
        margin-bottom: 10px;
        font-size: 30px;
    }
    .intro-body .intro-paragraph p {
        color: #000;
        font-size: 24px;
        margin-bottom: 20px;
        /* font-weight: bold; */
    }
    .intro-body .intro-paragraph a {
        display: block;
        width: 75%;
        height: auto;
        padding: 12px 61px;
        color: #fff;
        font-size: 20px;
        line-height: normal;
        font-weight: bold;
        border-radius: 6px;
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);
    }
}

@media (max-width: 767px) {
    .intro {
        margin-top: 0;
        margin-bottom: 40px;
    }
    .intro-body {
        display: flex;
        align-items: center;
        position: relative;
    }
    .intro-body::after {
        content: "";
        position: absolute;
        width: 124px;
        height: 104px;
        background-image: url('img/intro.svg');
        background-size: 124px 104px;
        right: 0;
        bottom: 20px;
    }
    .intro-body img {
        display: none;
        /* width: 116px;
        height: 98px; */
    }
    .intro-body .intro-paragraph .annot {
        font-size: 8px;
        margin-bottom: 16px;
    }
    .intro-body .intro-paragraph h1 {
        margin-bottom: 8px;
        color: #000;
        font-size: 24px;
        font-weight: bold;
    }
    .intro-body .intro-paragraph p {
        color: #000;
        font-size: 12px;
        max-width: 160px;
        margin-bottom: 10px;
        /* font-weight: bold; */
    }
    .intro-body .intro-paragraph a {
        width: 65%;
        height: auto;
        padding: 9px;
        font-size: 10px;
    }
}


/* Advantages */

.advantages {
    margin-bottom: 120px;
}

.advantages-body ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.advantages-body ul li {
    border-radius: 10px;
    border: 1px solid #F2F2F2;
    background: #FFF;
    box-shadow: 0px 10px 40px 0px rgba(0, 101, 255, 0.05);
    padding: 30px 20px;
}

.advantages-body ul li span {
    margin: 12px auto;
    display: block;
    width: 75%;
    text-align: center;
    color: #718CB7;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}

.advantages-body ul li img {
    display: block;
    margin: 0 auto;
    margin-bottom: 12px;
    width: 120px;
    height: 120px;
}

.advantages-body ul li h3 {
    margin-bottom: 14px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.advantages-body ul li p {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

@media (max-width: 1439px) {
    .advantages {
        margin-bottom: 60px;
    }
    .advantages-body ul {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .advantages-body ul li {
        padding: 10px;
    }
    .advantages-body ul li span {
        margin: 12px auto;
        display: block;
        width: 75%;
        text-align: center;
        color: #718CB7;
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: italic;
        font-weight: 500;
        line-height: normal;
        text-transform: lowercase;
    }
    .advantages-body ul li img {
        display: block;
        margin: 0 auto;
        margin-bottom: 12px;
        width: 100px;
        height: 100px;
    }
    .advantages-body ul li h3 {
        margin-bottom: 14px;
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .advantages-body ul li p {
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }
}

@media (max-width: 767px) {
    .advantages {
        margin-bottom: 40px;
    }
    .advantages-body ul {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .advantages-body ul li {
        padding: 10px;
    }
    .advantages-body ul li span {
        margin: 12px auto;
        display: block;
        width: 75%;
        text-align: center;
        color: #718CB7;
        text-align: center;
        font-family: Inter;
        font-size: 12px;
        font-style: italic;
        font-weight: 500;
        line-height: normal;
        text-transform: lowercase;
    }
    .advantages-body ul li img {
        display: block;
        margin: 0 auto;
        margin-bottom: 12px;
        width: 80px;
        height: 80px;
    }
    .advantages-body ul li h3 {
        margin-bottom: 14px;
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .advantages-body ul li p {
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }
}


/* sales-comission */

.sales-comission {
    margin-bottom: 200px;
}

.sales-comission .main-container {
    position: relative;
}

.sales-comission .main-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 70px;
    width: 1377px;
    height: 383px;
    background-image: url('img/comission-background.svg');
    background-size: 1377px 383px;
    z-index: -1;
}

.sales-body {
    display: flex;
    align-items: center;
}

.sales-body h2 {
    margin-bottom: 0;
    max-width: 378px;
    margin-top: 105px;
    color: #FFF;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.sales-body .percentage {
    margin-left: 272px;
    margin-top: 78px;
}

.sales-body .percentage span {
    display: block;
    color: #FFF;
    font-family: Inter;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 30px !important;
}

.sales-body .percentage p {
    margin-bottom: 10px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    max-width: 320px;
}

.sales-body .percentage p {
    margin-bottom: 10px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    max-width: 320px;
}

.sales-body .percentage a {
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #FFF;
    padding: 19px 100px;
    /* width: 360px; */
    background: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all .3s ease-in-out;
}

.sales-body .percentage a:hover,
.sales-body .percentage a:focus {
    border-color: var(--primary-color);
    color: var(--primary-color);
    background-color: #fff;
}

@media (max-width: 1439px) {
    .sales-comission {
        margin-bottom: 60px;
    }
    .sales-comission .main-container::before {
        display: none;
    }
    .sales-body {
        background-color: var(--primary-color);
        padding: 20px 40px;
        border-radius: 24px;
        flex-direction: row;
    }
    .sales-body h2 {
        margin-left: 30px;
        margin-top: 10px;
        color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        width: 150px;
        margin-right: 20px;
    }
    .sales-body .percentage {
        /* display: flex; */
        /* align-items: center; */
        width: 50%;
        margin-left: auto;
        margin-top: 11px;
    }
    .sales-body .percentage span {
        margin-bottom: 10px !important;
        color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }
    .sales-body .percentage p {
        color: #FFF;
        font-size: 14px;
        /* margin-left: auto; */
    }
    .sales-body .percentage a {
        margin-top: 0;
        padding: 6px 10px;
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .sales-comission {
        margin-bottom: 60px;
    }
    .sales-comission .main-container::before {
        background-image: url('img/mobile-seller.svg');
        width: 287px;
        height: 80px;
        left: 0;
        background-size: 287px 80px;
        z-index: -1;
    }
    .sales-body {
        flex-direction: row;
        padding: 20px;
    }
    .sales-body h2 {
        margin-left: 30px;
        margin-top: 0;
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        width: 100px;
        margin-right: 20px;
    }
    .sales-body .percentage {
        /* display: flex; */
        /* align-items: center; */
        width: 112px;
        margin-left: 0;
        margin-top: 0;
    }
    .sales-body .percentage span {
        margin-bottom: 10px !important;
        color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }
    .sales-body .percentage p {
        color: #FFF;
        font-family: Inter;
        font-size: 6px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }
    .sales-body .percentage a {
        margin-top: 0;
        padding: 6px 10px;
        font-size: 14px;
    }
}


/* become-seller */

.become-seller {
    margin-bottom: 120px;
}

.become-seller ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.become-seller li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.become-seller li:not(:last-child) {
    margin-bottom: 77px;
}

.become-seller li .card-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.become-seller li:nth-child(2n) img {
    order: 2;
}

.become-seller li:nth-child(2n) .card-content {
    order: 1;
}

.become-seller li .card-content span {
    margin: 0 auto;
    margin-bottom: 16px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 8px 40px;
    border-radius: 100px;
    background: var(--primary-color);
}

.become-seller li .card-content h3 {
    margin-bottom: 14px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.become-seller li .card-content p {
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.become-seller li .card-content p strong {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

@media (max-width: 1439px) {
    .become-seller {
        margin-bottom: 40px;
    }
    .become-seller h2 {
        margin-bottom: 40px !important;
    }
    .become-seller li {
        flex-direction: column;
        border: 1px solid #F2F2F2;
        background: #FFF;
        box-shadow: 0px 10px 40px 0px rgba(0, 101, 255, 0.05);
        padding: 20px;
        border-radius: 10px;
    }
    .become-seller li:not(:last-child) {
        margin-bottom: 20px;
    }
    .become-seller li img {
        height: 180px;
        margin-bottom: 20px;
    }
    .become-seller li .card-content {
        max-width: 560px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .become-seller li:nth-child(2n) img {
        order: 1;
    }
    .become-seller li:nth-child(2n) .card-content {
        order: 2;
    }
    .become-seller li .card-content span {
        margin: 0 auto;
        margin-bottom: 16px;
        font-size: 14px;
        padding: 8px 40px;
    }
    .become-seller li .card-content h3 {
        margin-bottom: 14px;
        color: #000;
        font-size: 20px;
    }
    .become-seller li .card-content p {
        color: #000;
        font-size: 14px;
    }
    .become-seller li .card-content p strong {
        color: #000;
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .become-seller {
        margin-bottom: 20px;
    }
    .become-seller h2 {
        width: 200px;
        margin: 0 auto;
    }
    .become-seller li {
        flex-direction: column;
        border: 1px solid #F2F2F2;
        background: #FFF;
        box-shadow: 0px 10px 40px 0px rgba(0, 101, 255, 0.05);
        padding: 20px;
        border-radius: 10px;
    }
    .become-seller li:not(:last-child) {
        margin-bottom: 20px;
    }
    .become-seller li img {
        height: 120px;
        margin-bottom: 20px;
    }
    .become-seller li .card-content {
        max-width: 560px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .become-seller li:nth-child(2n) img {
        order: 1;
    }
    .become-seller li:nth-child(2n) .card-content {
        order: 2;
    }
    .become-seller li .card-content span {
        margin: 0 auto;
        margin-bottom: 16px;
        font-size: 12px;
        padding: 8px 40px;
    }
    .become-seller li .card-content h3 {
        margin-bottom: 14px;
        color: #000;
        font-size: 20px;
    }
    .become-seller li .card-content p {
        color: #000;
        font-size: 12px;
    }
    .become-seller li .card-content p strong {
        color: #000;
        font-size: 12px;
    }
}


/* FAQ */

.faq {
    margin-bottom: 135px;
}

.faq .main-container {
    padding: 0 320px;
}

.accordion {
    margin-bottom: 60px;
}

.accordion-button {
    color: #000;
    /* Body-text/Text-20/Semibold */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding: 24px;
}

.faq .faq-button {
    margin: 0 auto;
    display: block;
    width: 32%;
    height: 72px;
    text-align: center;
    padding: 24px 0;
    color: #fff;
    font-size: 20px;
    line-height: normal;
    font-weight: bold;
    border-radius: 6px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: all .3s ease-in-out;
}

.faq .faq-button:hover,
.faq .faq-button:focus {
    border-color: var(--primary-color);
    color: var(--primary-color);
    background-color: #fff;
}

@media (max-width: 1439px) {
    .faq {
        margin-bottom: 60px;
    }
    .faq .title h2 {
        margin-bottom: 40px !important;
    }
    .faq .main-container {
        padding: 40px;
    }
    .accordion {
        margin-bottom: 20px;
    }
    .accordion-button {
        color: #000;
        font-size: 18px;
        padding: 20px;
    }
    .faq .faq-button {
        text-align: center;
        margin: 0 auto;
        display: block;
        width: 100%;
        height: auto;
        padding: 18px 0;
        color: #fff;
        font-size: 18px;
        line-height: normal;
        font-weight: bold;
        border-radius: 6px;
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);
    }
}

@media (max-width: 767px) {
    .faq {
        margin-bottom: 40px;
    }
    .faq .main-container {
        padding: 0;
    }
    .accordion {
        margin-bottom: 10px;
    }
    .accordion-button {
        color: #000;
        /* Body-text/Text-20/Semibold */
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        padding: 12px;
    }
    .faq .faq-button {
        margin: 0 auto;
        display: block;
        width: 100%;
        height: auto;
        padding: 8px 0;
        color: #fff;
        font-size: 14px;
        line-height: normal;
        font-weight: bold;
        border-radius: 6px;
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);
    }
}


/* Questions */

.questions .main-container {
    position: relative;
}

.questions .main-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    width: 1500px;
    height: 574px;
    background-image: url('img/questions-background.svg');
    background-size: 1500px 574px;
    z-index: -1;
}

.questions-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.questions-container .questions-body {
    margin-top: 156px;
    max-width: 683px;
}

.questions-container .questions-body h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.questions-container .questions-body p {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.questions-container form {
    margin-top: 121px;
    display: flex;
    flex-direction: column;
    width: 360px;
}

.questions-container form input {
    border: none;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 16px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.questions-container form input::placeholder {
    padding: 16px;
    color: #9299A2;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.questions-container form button {
    border-radius: 6px;
    border: 2px solid #FFF;
    padding: 19px 100px;
    /* width: 360px; */
    background: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all .3s ease-in-out;
}

.questions-container form button:hover,
.questions-container form button:focus {
    border-color: var(--primary-color);
    color: var(--primary-color);
    background-color: #fff;
}

@media (max-width: 1439px) {
    .questions .main-container::before {
        display: none;
    }
    .questions-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .questions-container .questions-body {
        margin-top: 0px;
        max-width: none;
    }
    .questions-container .questions-body h2 {
        color: #000;
        font-size: 24px;
        text-align: center;
    }
    .questions-container .questions-body p {
        color: #000;
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px;
    }
    .questions-container form {
        box-sizing: border-box;
        border: 1px solid #F2F2F2;
        background: #fff;
        box-shadow: 0px 10px 40px 0px rgba(0, 101, 255, 0.05);
        border-radius: 10px;
        padding: 10px;
        width: 80%;
        margin: 0 20px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
    }
    .questions-container form input {
        width: 100%;
        border: 1px solid #F2F2F2;
        background: #FFF;
        box-shadow: 0px 10px 40px 0px rgba(0, 101, 255, 0.05);
        border-radius: 8px;
        margin-bottom: 8px;
        padding: 12px;
        font-size: 12px;
    }
    .questions-container form input::placeholder {
        padding: 6px;
        font-size: 12px;
    }
    .questions-container form button {
        border-radius: 6px;
        border: 2px solid var(--primary-color);
        background: #FFF;
        box-shadow: 0px 10px 40px 0px rgba(0, 101, 255, 0.05);
        padding: 8px 20px;
        width: 100%;
        background: none;
        color: var(--primary-color);
        text-align: center;
        font-size: 14px;
        /* margin-bottom: 60px; */
    }
}

@media (max-width: 767px) {
    .questions .main-container::before {
        display: none;
    }
    .questions-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .questions-container .questions-body {
        margin-top: 0px;
        max-width: none;
    }
    .questions-container .questions-body h2 {
        color: #000;
        font-size: 16px;
        text-align: center;
    }
    .questions-container .questions-body p {
        color: #000;
        font-size: 12px;
        text-align: center;
        margin-bottom: 10px;
    }
    .questions-container form {
        box-sizing: border-box;
        border: 1px solid #F2F2F2;
        background: #fff;
        box-shadow: 0px 10px 40px 0px rgba(0, 101, 255, 0.05);
        border-radius: 10px;
        padding: 10px;
        width: 300px;
        margin: 0 20px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
    }
    .questions-container form input {
        width: 100%;
        border: 1px solid #F2F2F2;
        background: #FFF;
        box-shadow: 0px 10px 40px 0px rgba(0, 101, 255, 0.05);
        border-radius: 8px;
        margin-bottom: 8px;
        padding: 12px;
        font-size: 12px;
    }
    .questions-container form input::placeholder {
        padding: 6px;
        font-size: 12px;
    }
    .questions-container form button {
        border-radius: 6px;
        border: 2px solid var(--primary-color);
        background: #FFF;
        box-shadow: 0px 10px 40px 0px rgba(0, 101, 255, 0.05);
        padding: 8px 20px;
        width: 100%;
        background: none;
        color: var(--primary-color);
        text-align: center;
        font-size: 14px;
        /* margin-bottom: 60px; */
    }
}

.mail-sended {
    margin: 20px auto;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @media (max-width: 1439px) {
        color: var(--primary-color);
        margin: 10px auto;
        font-size: 18px;
    }
    @media (max-width: 767px) {
        font-size: 14px;
    }
}

.mail-sended.hide {
    display: none;
}